<div class="uk-section">

  <div class="uk-container">

    <div class="uk-card uk-card-default uk-card-hover uk-card-body">
            <h3 class="uk-card-title">Scraper</h3>
            <hr>
            <p>Start Rails server</p>
            <div class="uk-section uk-section-muted uk-section-xsmall">
              <p class="uk-margin-left">$> bundle install</p>
              <p class="uk-margin-left">$> rails db:setup</p>
              <p class="uk-margin-left">$> rails s</p>
            </div>
            <p>Call the GET /scraper route</p>
            <a href="/scraper" class="uk-button uk-button-primary">Start scrapping</a>

    </div>

  </div>

</div>
